@page
@{
    var Category = ViewBag.Category;
}


<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Product Add Category</h4>
            <h6>Create new product Category</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <form asp-controller="Category" asp-action="Update" method="post" enctype="multipart/form-data">
                <input type="hidden" name="category_id" value="@Category.category_id" />
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Category Name</label>
                            <input name="CategoryName" class="form-control"  value="@Category.product_name" required />
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Category Code</label>
                            <input name="CategoryCode" class="form-control" value="@Category.code" required />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="Description" class="form-control">@Category.description</textarea>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Category Image</label>
                            <div class="image-upload">
                                <input name="image" type="file" class="form-control" />
                                <div class="image-uploads">
                                    @if (Category.image != null)
                                    {
                                        <img id="previewImage" src="data:image/png;base64,@Convert.ToBase64String(Category.image)" alt="img" class="img-thumbnail mb-2" style="max-width: 50px; max-height: 50px;" />
                                    }

                                    <h4>Drag and drop a file to upload</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-submit me-2">Submit</button>
                        <a asp-action="Index" class="btn btn-cancel">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>